@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");


:root {
    --prime: #4897e3;
    --second: #fdfdfe;
    --nav-menu: #f2f4f9;
    --font-size: 15px;
    --small-font: 13px;
    --font-dark: #000001;
    --font-dark-blue: #000c34;
    --font-light-blue: #08558b;
    --font-light: white;
    --border-color: #a8a8a8;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: var(--font-size)/1.5 "Inter", serif;
    width: 100%;
    height: auto;
    background-color: rgb(239, 245, 254);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.modal-container {
    display: none;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 5000;
    overflow: scroll;
    font-size: 2em;
}

.modal-container .close-modal {
    color: var(--font-light);
    position: absolute;
    display: flex;
    right: 1em;
    top: 0.5em;
    cursor: pointer;
    flex: 0 1 10%;
}

.modal-container .close-modal i {
    display: block;
    width: 100%;
    height: auto;
    text-align: end;
}

.modal-container .modal-wrapper {
    margin: 3em auto;
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    flex: 0 1 auto;
}

.modal-wrapper .modal-image-container {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.modal-wrapper .modal-image {
    cursor: zoom-in;
    scale: 1;
    width: 100%;
    height: auto;
    transform-origin: center center;
}


.modal-wrapper .control-button {
    color: var(--font-light);
    background-color: rgba(255, 255, 255, 0);
    margin: auto 0;
    padding: 0.5em;
    cursor: pointer;
    border: none;

}

.control-button i {
    font-size: 2.5em;
}

.modal-wrapper .control-button:disabled {
    color: var(--border-color);
}

.selection-language-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.active {
    display: flex;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* Header Section  & Navigation Bar */
header {
    background-color: var(--prime);
    width: 100%;
    height: auto;
    box-shadow: 0 7px 9px 2px #88878759;
    display: flex;
}

header .container {
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 1.1em;
}

.logo-link {
    display: flex;
    text-decoration: none;
    margin: auto 0;
    padding: 0.5em 1.5em;
    gap: 0.5em;
    color: var(--font-light);
    flex: 0 1 auto;
    width: auto;
    height: 100%;
}

.logo-image-container {
    margin: auto;
    width: 85px;
    height: 100%;
    display: flex;

}

.logo-icon {
    width: 100%;
    height: auto;
    display: block;
}

.logo-text {
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

nav {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    margin: auto;
}

#navBtn, #navBtnBg {
    display: none;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    margin: auto;
}


.section-link {
    text-decoration: none;
    color: var(--font-light);
    white-space: nowrap;
}

.sticky-top-nav {
    position: sticky;
    top: 0;
    z-index: 1020
}

.language {
    display: flex;
    gap: 10px;
    padding: 1em;
    margin: auto 0;
    width: 100%;
    height: auto;
    justify-content: end;
    flex: 0 1 25%;

}

.button-language-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.language-link {
    color: var(--font-light);
    background-color: var(--prime);
    border: none;
    padding: 0.3em;
    border-radius: 0.2em;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.flag-img {
    display: flex;
    width: 100%;
    height: auto;
    flex: 0 1 50%;
    justify-content: center;
    overflow: hidden;
}

.flag-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.3em;

}

.selected {
    background-color: #3e86cb;
    border: 1px solid #ffffff;
}

/* Main settings */

main,
main div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main div.container section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 3em 5em 5em;
}

h1, h3 {
    color: var(--font-light-blue);
}

.section-wrapper > h1 {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 1rem;
}

.section-wrapper > h3 {
    font-size: 1.5em;
    padding-bottom: 3rem;
}


/* Hero Section */
#home, #homeBg {
    background-image: url("images/hero-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;

}

.hero-information {
    border: 2px solid rgba(211, 211, 211, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 9px 6px #88878759;
    border-radius: 3em;
    background-color: rgba(175, 175, 175, 0.30);
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-information h3,
.hero-information li,
.hero-information h1 {
    color: var(--font-light);
}

.hero-information ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    padding: 1em 0;
    list-style: none;

}

.hero-information li {
    flex: 1 1 auto;
}

.hero-information h1 {
    font-size: 3.5em;
    width: 100%;
}

.hero-information ul li h3 {
    font-size: 1.5em;
}

.hero-information > h3 {
    font-size: 2em;
}

/* TODO: Finish hero-header */

/* Services Section */

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.service-card {
    padding: 2em;
    border: 3px solid var(--prime);
    width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 9px 6px #88878759;
    border-radius: 3em;
    background-color: rgba(175, 175, 175, 0.15);
    color: var(--font-dark-blue);
    display: flex;
    gap: 2em;
}

.images-wrapper {
    display: flex;
    width: 100%;
    flex: 1 1 60%;
    border-radius: 1em;
    overflow: hidden;
    margin: auto 0;
    position: relative;
    transition: transform 0.5s ease;
}

.image-container.testimonial-item {
    cursor: pointer;
}

.image-container {
    display: flex;
    width: 100%;
    height: auto;
    /*flex: 0 0 100%;*/

}

.image-container > img {
    display: block;
    width: 100% !important;
    height: auto !important;
    min-height: 250px;
}

.service-information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex: 1 1 auto;
}

.service-information-container > h1 {
    font-size: 2em;
}

.service-information-container > p {
    font-size: 1.2em;
}

/* Clients Section */

/*TODO: Write CSS for Clients Section*/


/* Pricing Section */
.section-wrapper table {
    padding: 5em;
    border: 3px solid var(--prime);
    width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 9px 6px #88878759;
    border-radius: 3em;
    background-color: rgba(175, 175, 175, 0.15);
    color: var(--font-dark-blue);
    display: flex;
    flex-direction: column;
}

tbody, thead {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

thead {
    color: #08558b;
}

tr {
    display: flex;
    border-bottom: 1px solid #000c34;
    padding-bottom: 0.2em;
    margin: 0.3em 0.5em;
    width: 100%;
    height: auto;
}

tbody > tr:nth-of-type(1n) {
    background-color: rgb(220 254 255 / 22%);
}

table thead > tr,
tbody tr:nth-of-type(2n) {
    background-color: rgba(72, 150, 226, 0.22);
}


tr > * {
    border-right: 1px solid #08237d;
    display: flex;
    flex: 1 1 auto;
    padding: 0.2em 1.5em;
    width: 100%;
    height: auto;
    text-align: start;
    vertical-align: middle;
    margin: auto 0;
}

tr > *:nth-of-type(1) {
    width: 30%;
}


/* Contacts Section */
.contacts-container {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--prime);
    width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 9px 6px #88878759;
    border-radius: 3em;
    background-color: rgba(175, 175, 175, 0.15);
    color: var(--font-dark-blue);
    padding: 5em;
    gap: 3em;
}

.phone-container {
    display: flex;
    gap: 3em;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #4896e2;
}

.phone-container h4 {
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

.phone-container h3 {
    font-size: 1.5em;
}

.phone-container a {
    text-decoration: none;

}


.phone-container h3,
.phone-container .text-phone-wrap {
    color: #08558b;
}

.text-phone-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.text-phone-wrap > a {
    background-color: var(--prime);
    color: var(--font-light);
    border-radius: 0.3em;
    padding: 0.8em;
    width: 6em;
    height: 100%;
    display: flex;
    box-shadow: 2px 2px 0 0 #858484;
}

.text-phone-wrap > a:hover {
    transition: 0.2s ease-in-out;
    background-color: #216bb0;
    box-shadow: 2px 2px 0 0 #858484;
}

.text-phone-wrap > a:active {
    background-color: var(--prime);
    transition: 0.3s ease-in-out;
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 .25rem rgba(4, 99, 250, 0.25);
}

.text-phone-wrap > a > i {
    margin: auto;
    font-size: 1.7em;
}

.email-map-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    gap: 2em;
}

.email-container {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1 1 auto;
    box-shadow: 0 0 9px 6px #88878759;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    background-color: #eef4fe;
    border: 1px solid #C7DCFB;
    border-radius: 1em;
}

.email-container h3 {
    font-size: 1.5em;
}

.email-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form label {
    display: none;
}

.input-field {
    display: flex;
    width: 100%;
    height: calc(3.5rem + 2px);
    flex: 1 1 48%;
    padding: 1rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #C7DCFB;
    appearance: none;
    border-radius: 0.5em;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-area-element {
    resize: vertical;
    flex: 1 0 100%;
    min-height: 100px;
    height: auto;
}

.input-field:focus {
    color: #8D8E92;
    background-color: #fff;
    border-color: #82b1fd;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 99, 250, 0.25)
}

.send-email-button {
    font-size: 1.1rem;
    text-decoration: none;
    padding: 1.375rem 1.75rem;
    width: 100%;
    background-color: var(--prime);
    color: var(--font-light);
    border-radius: .5em;
    box-shadow: 2px 2px 0 0 #858484;

}

.send-email-button:hover {
    transition: 0.1s ease-in-out;
    background-color: #216bb0;
    box-shadow: 2px 2px 0 0 #858484;

}

.send-email-button:active {
    transition: 0.3s ease-in-out;
    transform: translate(2px, 2px);
    background-color: var(--prime);
    box-shadow: 0 0 0 .25rem rgba(4, 99, 250, 0.25);
}

/*  MAP */

.map-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex: 1 1 auto;
    box-shadow: 0 0 9px 6px #88878759;
    border-radius: 1em;
}

.map-element {
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

/* Footer Section*/
footer {
    background-color: var(--prime);
    display: flex;
    height: auto;
    box-shadow: 1px -9px 9px 2px #88878759;
}

footer .container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    color: var(--font-light);
}

.footer-wrapper p {
    padding: 1em 2em;
}

.creator a {
    text-decoration: none;
    color: var(--font-light);
    border-bottom: 1px solid var(--font-light);
    font-weight: 400;
}

.back-to-top {
    text-decoration: none;
    border-radius: 50%;
    display: none;
    width: 48px;
    height: 48px;
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    color: var(--font-light);
    background-color: rgba(67, 138, 208, 0.92);
    border: 1px solid #2a74e7;
    justify-content: center;
    box-shadow: 0 0 9px 6px #88878759;
}

.back-to-top:hover {
    background-color: var(--prime);
    box-shadow: 0 0 0 .25rem rgba(4, 99, 250, 0.25);
}

.back-to-top i {
    font-size: 2em;
    margin: auto;
    cursor: pointer;

}

@media (min-width: 861px) {
    .navigation-links {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
    }

    .navigation-links li {
        margin: auto;
    }
}

@media (max-width: 860px) {
    .modal-wrapper {
        width: 100%;
        height: auto;
        flex: 1 1 auto;
        flex-direction: row;
        margin: auto;
    }

    .modal-image-container {
        margin: auto 0;
    }

    /* Navigation Bar Section */
    .logo-wrapper {
        flex: 1 0 auto;
    }

    header {
        font-size: 0.8rem;
    }

    .logo-link {
        justify-content: start;
    }

    .logo-text,
    .logo-image-container {
        margin: auto 0;
    }

    .logo-image-container {
        width: 65px;
    }

    .navigation-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--nav-menu);
        gap: 1em;
        width: 100%;
        height: auto;
        padding: 1em;
        justify-content: center;
        top: 4em;
        left: 0;
        box-shadow: 0 7px 15px 10px #88878759;
    }

    nav {
        display: flex;
        justify-items: end;
        flex: 0 1 5%;
    }

    .navigation-links li {
        margin: auto;
        width: 50%;
        text-align: center;
        height: 100%;
        padding: 0.3em;
    }


    .section-link {
        color: var(--font-dark);
        padding: 0.2em;
        border-bottom: 1px solid var(--border-color);
    }

    #navBtn, #navBtnBg {
        display: flex;
        margin: auto 0 auto auto;
        width: 35px;
        height: 35px;
        border-radius: 0.5em;
        border: 1px solid var(--second);
        justify-content: center;
        background-color: #c2d7ee;
        box-shadow: 0.5px 1px 0 1px #797979;
    }

    #navBtn span, #navBtnBg span {
        font-size: 1.8em;
        color: var(--font-light);
        margin: auto;
    }

    #navBtn:hover, #navBtnBg:hover {
        transition: 0.2s ease-in-out;
        background-color: #a3bace;
        box-shadow: 0.5px 1px 0 1px #676767;
    }

    #navBtn:active, #navBtnBg:active {
        background-color: #c2d7ee;
        transition: 0.3s ease-in-out;
        transform: translate(1px);
        box-shadow: 0 0 0 1px #cbe5ff;
    }

    .language {
        flex: 0 1 15%;
        flex-direction: column;
        height: auto;
        padding: 0.2em;
        gap: 0.2em

    }

    .flag-img img {
        width: 45px;
    }

    main div.container section {
        padding: 2em 1.5em;
    }

    .section-wrapper > h1 {
        font-size: 2em;
        line-height: 1;
        padding-bottom: 1rem;
    }

    .section-wrapper > h3 {
        font-size: 1.2em;
        padding-bottom: 1.5rem;
    }

    /* Hero Section*/
    .hero-information h1 {
        font-size: 3em;
    }

    .hero-information h3 {
        font-size: 1.8em;
    }

    .hero-information > h1,
    .hero-information > ul,
    .hero-information > h3 {
        margin: 0 auto;
    }

    /* Pricing Section*/
    .section-wrapper table {
        border-radius: 1.5em;
        padding: 1em;
        border: 2px solid var(--prime);
    }

    tr {
        margin: 0.3em 0;
    }

    tr > * {
        padding: 0.2em;
    }

    tr > *:nth-of-type(1) {
        width: 25%;
    }


    /*    Contacts Section  */
    .email-map-wrapper {
        flex-direction: column;
        gap: 1em;
    }

    .map-element {
        min-height: 350px;
    }

}

@media (max-width: 600px) {
    .modal-container {
        height: 100%;
    }

    .modal-container .modal-wrapper {
        height: auto;
    }

    .image-container img {
        min-height: 200px;
    }

    .container {
        display: flex;
        width: 100%;
    }

    /* Navigation Bar Section */
    .navigation-links {
        top: 4.8em;
    }

    #navBtn, #navBtnBg {
        width: 30px;
        height: 30px;
    }

    #navBtn span, #navBtnBg span {
        font-size: 1.3em;
    }

    .language {
        padding: 0.5em;
        gap: 5px;
    }

    .flag-img img {
        width: 30px;
    }


    /*Hero Section*/
    #home, #homeBg {
        width: 100%;
        height: auto;
    }

    .hero-information {
        margin: auto;
        border-radius: 2em;
        border: 2px solid rgba(211, 211, 211, 0.3);
    }

    .hero-information ul {
        width: 100%;
    }

    .hero-information h1 {
        font-size: 2em;
    }

    .hero-information h3 {
        font-size: 1.2em;
    }

    /*  Service Section */
    .service-card {
        flex-direction: column-reverse;
        border-radius: 1.5em;
        border-width: 2px;
        gap: 1em;
    }

    .service-information-container > h1 {
        font-size: 1.5em;
    }

    .service-information-container > p {
        font-size: 0.9em;
    }


    /*  Pricing Section */
    #pricing, #pricingBg {
        padding: 1em;
    }

    /* Contacts section */
    .contacts-container {
        border-width: 2px;
        border-radius: 1.5em;
        padding: 1.5em;
        gap: 1.5em;
    }

    .phone-container {
        justify-content: start;
        flex-direction: column;
        gap: 1em;
    }

    .contacts-container h3 {
        font-size: 1.2em;

    }

    #my-number, #my-numberBg {
        font-size: 1.3em;
    }

    .text-phone-wrap:last-of-type,
    .text-phone-wrap:nth-of-type(2) {
        /*gap: 2.4em;*/
        flex: 1 1 auto;
    }

    .text-phone-wrap {
        flex-direction: row;
        margin: 0;
        gap: 1.5em;
        justify-content: space-between;
    }

    .text-phone-wrap h4 {
        margin: auto 0;
        padding: 0;
    }

    .text-phone-wrap > a {
        padding: 0.7em;
        flex: 0;
    }

    .text-phone-wrap > a > i {
        font-size: 1.3em;
    }

    .email-map-wrapper {
        gap: 1em;
    }

    .email-container {
        padding: 1em;
    }

    .email-container form {
        gap: 0.78em;
    }

    .input-field {
        padding: 0.375rem 0.75rem;
        height: calc(2.5rem + 2px);
    }

    .text-area-element {
        min-height: 74px;
    }

    .send-email-button {
        padding: 0.875rem 1.25rem;
    }

    .map-element {
        min-height: 250px;
    }

    /*  footer Section */
    footer {
        height: auto;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
        padding: 0.5em 0;
    }

    .footer-wrapper p {
        padding: 0;
    }

    .back-to-top {
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 40px;
    }

    .back-to-top i {
        font-size: 1.5em;
    }
}

@media (max-width: 390px) {
    html {
        font: var(--small-font)/1.5 "Inter", serif;
    }

}
